.light{
    --title-color:black;
    --fpd-color:black;
    --modal-bg:#DDDDDD;
}

.dark{
    --title-color:white;
     --fpd-color:white;
     --modal-bg:#1e1f21;
}

.forgot-password-container {
    width: 100%;
    max-width: 500px;
    background: transparent;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

.forgot-password-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--title-color);
    font-family: 'montserrat';
}

.forgot-password-description {
    font-size: 16px;
    color: var(--fpd-color);
    font-family: 'poppins';
}

.forgot-password-footer {
    margin-top: 15px;
}

.forgot-password-login {
    font-size: 14px;
    color: var(--fpd-color);
    font-family: 'poppins';

}

.forgot-password-link {
    text-decoration: none;
    font-family: 'poppins';
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.forgot-password-links {
    margin-top: 10px;
    font-size: 12px;
}

.forgot-password-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.forgot-password-links a:hover {
    color: #E948C5;
    text-decoration: underline;
}

.input-field {
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.gradient-btn {
    display: flex;
    width: 100%;
    padding: 14px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: linear-gradient(91deg, #E948C5 9.91%, #CD407B 53.29%, #75042D 91.56%);
    border: none;
    transition: 0.3s;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.gradient-btn:hover {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.social-icon {
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icon:hover {
    color: #8e2de2;
}

.forgot-password-button{
    font-family: 'poppins' !important;
}
