.account{
    background: linear-gradient(to right, #020202, #0a0a1a);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.account-container{
    display: flex;
    flex: 1; 
    overflow: hidden;
}

.account-contents{
    flex: 1;
    padding: 5%;
    height: 100vh; 
    overflow-y: auto; 
    
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.account-contents::-webkit-scrollbar {
    display: none; 
}