.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--navbar-bg);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Left Section */
.left-section {
  display: flex;
  align-items: center;
}

/* Account Info */
.account-info {
  display: flex;
  align-items: center;
}

.account-icon img {
  border-radius: 50%;
}

.account-details {
  margin-left: 10px;
}

.account-name {
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
}

.account-email {
  color: var(--text-color);
  margin: 0;
}

/* Dropdown Icon */
.dropdown-icon {
  margin-left: 10px;
  cursor: pointer;
  color: var(--text-color);
}

/* Right Section */
.right-section {
  display: flex;
  align-items: center;
}

/* Notification Icon */
.notification-icon {
  margin-right: 20px;
  cursor: pointer;
  color: var(--text-color);
}

.notification-icon:hover {
  color: var(--hover-bg);
}

/* Admin Button */
.admin-button {
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  transition: background 0.3s ease, color 0.3s ease;
}

.admin-button:hover {
  background-color: var(--hover-bg);
}

/* Profile Picture */
.profile-pic img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid var(--hover-bg);
}
