.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #000000, #02030f, #0d1326);
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .account-info {
    display: flex;
    align-items: center;
  }
  
  .account-icon img {
    border-radius: 50%;
  }
  
  .account-details {
    margin-left: 10px;
  }
  
  .account-name {
    font-weight: bold;
    margin: 0;
  }
  
  .account-email {
    color: #666;
    margin: 0;
  }
  
  .dropdown-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .search-icon {
    color: #666;
  }
  
  .search-input {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    outline: none;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .notification-icon {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .admin-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .profile-pic img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  