/* Container */
.reports-container {
  padding: 20px;
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Table */
.reports-table {
  width: 100%;
  border-collapse: collapse;
}

.reports-table th,
.reports-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--table-border);
}

.reports-table th {
  background-color: var(--header-bg);
  color: var(--header-text);
}

.reports-table tr.dark{
  color: var(--text-color);
}

.reports-table tr:hover {
  background-color: var(--row-hover);
}

/* Status Styles */
.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Status Colors */
.status.completed {
  background-color: var(--status-completed);
  color: white;
}

.status.in-review {
  background-color: var(--status-in-review);
  color: white;
}

.status.draft {
  background-color: var(--status-draft);
  color: white;
}

.reports-container.dark h2 {
  color: var(--report-title-color);
  font-size: var(--report-title-size);
  font-weight: var(--report-title-weight);
  text-shadow: var(--report-title-shadow);
}
