.account {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--bg-color);
    color: white;
    transition: background-color 0.3s ease;
  }
  

  .account-container {
    display: flex;
    flex: 1;
    overflow: hidden; 
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
  }


  .account-contents {
    width: 100%;
    display: flex;
    justify-content: start;
    height: 100vh;
  }

.account-contents::-webkit-scrollbar {
    display: none; 
}

