.login-container {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

.login-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.login-card-body {
    padding: 2rem;
}

.login-title {
    color: white;
    text-align: left;
}

.login-subtitle {
    color: white;
    text-align: left;
}

.login-divider {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.login-hr {
    flex-grow: 1;
    border-color: white;
}

.login-or-text {
    margin: 0 0.5rem;
    color: white;
}

.login-signup-link {
    text-align: center;
    margin-top: 1rem;
}

.login-signup-text {
    color: white;
}

.login-signup-link-text {
    color: white;
    text-decoration: none;
}

.login-signup-link-text:hover {
    text-decoration: underline;
}

.login-footer {
    text-align: center;
    font-size: 0.875rem;
    color: #ddd;
}

.login-footer-link {
    color: #ddd;
    text-decoration: none;
    margin: 0 5px;
}

.login-footer-link:hover {
    text-decoration: underline;
}

.social-icon {
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icon:hover {
    color: #8e2de2;
}