.background-layout {
    background: linear-gradient(to right, #1e1f21, #323233);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


